*{
    margin: 0px;
    padding: 0px;
    
}
.menu-container{
    background-color: rgb(49, 47, 47);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.photo{
    width: 120px;
}
.menus{
    display: flex;
    
}
.item{
    margin-left: 10px;
    padding: 7px;
    font-size: 18px;
    cursor: pointer;
}
.item:hover{
    color: blue;
}

.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: whitesmoke;
    background-image: url(images/background.png), linear-gradient(45deg,#3d3a3a,#1b1919);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.btn{
    padding: 10px 20px; 
    color: wheat;
    background-color: red;
    border: none;
    border: radius 1px;;
}
.about-con{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.bal{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 55px;
    padding-top: 10px ;
    padding-bottom: 5px;
    background-image: url(images/background.png),linear-gradient(45deg,rgb(34, 32, 32),black);

}
.about-para{
    font-weight: 18px;
    padding: 5px;
    font-size: 18px;
    
    
    
}
.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 8px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}
.icon{
    width: 60px;

}
.box-btn{
    background-color: grey;
    margin-top: 10px;
}
.box-title{
    padding: 10px;
}
.box-description{
    padding: 8px;
}
    
.service-container{
    display: flex;
    justify-content:space-around;
    padding: 20px;
    background-image: url(images/background.png),linear-gradient(45deg,rgb(34, 32, 32),black);
    
}
.ched{
    text-align: center;
    font-size: 55px;
}